#content ul {
  list-style: disc;
}

#content ul>li {
  margin: 4px 18px 10px;
}

#content ol>li {
  margin-bottom: 10px;
}

#codes img {
  display: inline-block;
}

#content figure {
}

#content .avatar>img {
  height: 140px;
  width: 140px;
  margin: 16px auto;
}
